.cv {
  width: 60%;
  margin: 0 auto;
  display: flex;
  background-color: rgb(239, 238, 238);
  color: black;
  flex-direction: column;
  padding: 3.383vw;
  border-top: 8px solid black;
  position: relative;
  margin-top: 2.165vw;
  border-bottom: 0.541vw solid rgb(174, 61, 72);
  box-shadow: 0 0 1.353vw  rgb(71, 71, 71);
  margin-bottom: 7.578vw;
  height: 50%;
  overflow: hidden;
  border-radius: 0.541vw;
}

.dark-theme {
  position: relative;
  background-color: rgb(18, 18, 18);
  border-top: 0.541vw solid rgb(250, 248, 248);
  color: #eee;
  flex-direction: column;
  padding: 3.383vw;
  margin-top: 2.165vw;
  border-bottom:0.541vw solid rgb(174, 61, 72);
  margin-bottom: 7.578vw;
  height: 50%;
  overflow: hidden;
  border-radius: 0.541vw;
  box-shadow: 0 0 1.353vw  rgb(174, 61, 72);
  .cv-name {
    font-size: 2.165vw;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0.541vw;
    color: rgb(174, 61, 72);
    width: fit-content;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  .cv-subname {
    color: #f0f0f0;
  }
  .cv-content-item .title{
    color: rgb(244, 244, 244);
  }
  .cv-content {
    color: #e8e8e8;
  }
  .cv-content-item .subtitle {
    color: #c3c3c3;
  }
  .cv-content-item .time {
    color: #dbd9d9;
  }
  .cv-content-item .exprecince {
    color: #e4e4e4;
  }
  .info a {
  
    color:#e8e8e8;

  }
  .info a:hover {
    color: #b3b3b3;
  }
 
  #theme-btn img:hover {
    color: #873917;
  }
  .tracking-in-contract{
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      margin-top: 1px;
      color: rgb(174, 61, 72);
      font-size: 2vw;
      font-synthesis: weight;
      font-weight: 400;
  }

}

.cv-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 120%;
  height: 100%;
  position: relative;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    margin-top: 1px;
    color: rgb(174, 61, 72);
    font-size: 2vw;
    font-synthesis: weight;
    font-weight: 40px;
  }

.cv-wrap {
  width: 50%;
  margin-right: -7.253vw;
  display: flex;
  flex-direction: column;
}

.cv-name {
  font-size: 2.165vw;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0.541vw;
  color: rgb(174, 61, 72);
  width: fit-content;
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.cv-subname {
  font-size:1.624vw;
  font-weight: 500;
  line-height: normal;
  margin-bottom:2.165vw;
  color: #b2b2b2;
  // width: fit-content;
}
.cv-content {
  font-size:0.866vw;
  font-weight: normal;
  line-height: normal;
  margin-bottom:0.541vw;
  color: #b2b2b2;
  // text-transform: uppercase;
letter-spacing: 0.135vw;
}
.cv-content-item {
  display: flex;
  flex-direction: column;
  margin-bottom:1.407vw;
}
.cv-content-item .title{
  font-size:1.083vw;
  font-weight: 700;
  line-height: normal;
  margin-bottom:0.433vw;
  color: black;
  // width: fit-content;
}
.cv-content-item .subtitle {
  font-size:1.083vw;
  font-weight: 500;
  line-height: normal;
  margin-bottom:0.162vw;
  color: #555555;
  // width: fit-content;
}
.cv-content-item .time {
  font-size:0.866vw;
  font-weight: 500;
  line-height: normal;
  margin-bottom:0.433vw;
  color: #3e3e3e;
  // width: fit-content;
}
.cv-content .head-title{
  font-size:1.245vw;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(174, 61, 72);

}
.cv-content-item .exprecince {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #131313;
  // width: fit-content;
}


.key-points li::marker {
  color: rgb(163, 45, 45); /* Change this to the desired color */
  list-style-type:lower-greek;

  
}


.info {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  margin-bottom:2.165vw;
  margin-top:10.825vw;
}
.info .title {
  font-size:1.245vw;
  font-weight: 600;
  line-height: normal;
  margin-bottom:0.541vw;
  color: rgb(174, 61, 72);
  // width: fit-content;
}
.info p {
  margin-bottom:0.325vw;
}
.info a {
  font-size: .9rem;
  font-weight: 600;
  line-height: normal;
  color: #686868;
  width: fit-content;
  text-decoration: none;
}
.info a:hover {
  color: #2d2d2e;
}
.cv-skills {
  margin-bottom:0.541vw;
}
.cv-skills .head-title {
  font-size:1.245vw;
  font-weight: 600;
  line-height: normal;
  margin-bottom:0.541vw;
  color: rgb(174, 61, 72);
  width: fit-content;
}
.cv-skills .social-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social-item {
  display: flex;
  text-align: right; /* Align text to the right */

  p {
      margin-bottom: 0; /* Optional: Remove default bottom margin */
  }
  span {
      cursor: pointer;
      color: rgb(174, 61, 72);
      margin-left:0.677vw; /* Adjust spacing between label and icon */
  }
}

.cv-skills .education-info {
  display: flex;
  flex-direction: column;
}

.education-item {
  p{
      font-size: 14px;
      font-weight: 600;
  }
  div{
      font-size: 13px;
      font-weight: 500;
      margin-top: -11px;
  }
  .year{
      font-size: 13px;
      font-weight: 500;
  }
}

 /* Toggle Dark Theme */
 #theme-btn {
  margin-top: -1px;
  font-size:1.624vw;
  margin-left:51.962vw;
  cursor: pointer;
  color: #1e1e1e;
}

#theme-btn:hover {
  color: #35335a;
}

#theme-btn img {
  width:1.624vw;
  height:1.624vw;
  margin-right: -0.677vw;
  object-fit: cover;
  object-position: center;
}







@media  (max-width: 900px) {
  .cv {
  }
  .cv-wrap {
    width: 50%;
    margin-right: -6rem;
    flex-direction: column;
  }
  .cv-row {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    width: 50rem;
    height: 100%;
    margin-left: 2vw;
    position: relative;
  }

  #theme-btn {
    margin-top: -15px;
    font-size:2vw;
    margin-left:2.165vw;
    cursor: pointer;
    color: #1e1e1e;
  }
  #theme-btn img {
    width:2.5vw;
    height:2.5vw;
    margin-right: -0.677vw;
    object-fit: cover;
    object-position: center;
  }
  .info {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin-bottom:2.165vw;
    margin-top: 0rem;
  }
  .cv-content-item .exprecince {
    font-size: .7rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .cv-content-item .subtitle {
    font-size:1.193vw;
    font-weight: 500;

  }
  .cv-content-item .time {
    font-size:1.05vw;
    font-weight: 500;
 
  }
  .cv-content .head-title{
    font-size:1.445vw;
    font-weight: 600;
  }

  .education-item {
    p{
        font-size: 11px;
        font-weight: 600;
    }
    div{
        font-size: 10px;
        font-weight: 500;
        margin-top: -11px;
    }
    .year{
        font-size: 11px;
        font-weight: 500;
    }
  }
  .social-item {
   
    p {
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 500;
    }
  }
  .info a {
    font-size: .7rem;
    font-weight: 600;
  
  }
}

@media  (max-width: 750px) {
  .cv {
  }
  .cv-wrap {
    width: 30%;
    margin-right: -6rem;
    flex-direction: column;
  }
  .cv-row {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    width: 50rem;
    height: 100%;
    margin-left: 2vw;
    position: relative;
  }

  #theme-btn {
    margin-top: -15px;
    font-size:2vw;
    margin-left:2.165vw;
    cursor: pointer;
    color: #1e1e1e;
  }
  #theme-btn img {
    width:2.5vw;
    height:2.5vw;
    margin-right: -0.677vw;
    object-fit: cover;
    object-position: center;
  }
  .info {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin-bottom:2.165vw;
    margin-top: 0rem;
  }
  .cv-content-item .exprecince {
    font-size: .7rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .cv-content-item .subtitle {
    font-size:1.893vw;
    font-weight: 500;

  }
  .cv-content-item .time {
    font-size:1.45vw;
    font-weight: 500;
 
  }
  .cv-content .head-title{
    font-size:1.745vw;
    font-weight: 600;
  }
  .cv-skills .head-title{
    font-size:1.945vw;
    font-weight: 600;
  }
  .info .title{
    font-size:1.945vw;
    font-weight: 600;
  }
  .cv-content-item .title{
    font-size:1.983vw;
    font-weight: 700;
  }
  .cv-subname {
    font-size:1.624vw;
    font-weight: 500;
    line-height: normal;
    margin-bottom:2.165vw;
    color: #656565;
  }

  .education-item {
    p{
        font-size: 11px;
        font-weight: 600;
    }
    div{
        font-size: 10px;
        font-weight: 500;
        margin-top: -11px;
    }
    .year{
        font-size: 11px;
        font-weight: 500;
    }
  }
  .social-item {
   
    p {
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 500;
    }
  }
  .info a {
    font-size: .7rem;
    font-weight: 600;
  
  }
}
@media (max-width: 450px) {
  .cv-wrap {
    width: 25%;
    margin-right: -6rem;
    flex-direction: column;
  }
}